<table class="table" multi = "true" *ngIf = "competitions.length > 0 && !isLoading" >
  <thead class=" text-primary">
    <th>
      title
    </th>
    <th>
      description
    </th>

    <th>
      Date
    </th>
    <th>
      time
    </th>

    <th>
      Status
    </th>
    <th>
      Registration Link
    </th>
    <th>
      Image Preview
    </th>
   
  </thead>
  <tbody>


    <tr *ngFor="let competition of competitions">
      <td>
        {{ competition.title }}
      </td>
      <td>
        {{ competition.description }}
      </td>

      <td>
        {{ competition.date.day}}/{{competition.date.month}}/{{competition.date.year}}
      </td>
      <td>
        {{ competition.time}}
      </td>
      <td>
        {{ competition.status }}
      </td>
      <td>
        {{ competition.regLink }}
      </td>
      <td>
        <img class = "image-preview" [src]="competition.imagePath" [alt]="competition.title">
      </td>

    </tr>

  </tbody>
</table>



<section class="p-3">
<div class="heading text-color">Competitions</div>

<div class="w-100" fxLayout="column" fxLayoutAlign="space-around end">
    <!-- <div class="sub-heading text-white mt-3">Faculty Advisor</div> -->
    <div class="sub-heading text-white mt-big">Upcoming</div>

    <div class="sub-heading text-white mt-big">Archived</div>
    <div class="text-white mt-3 w-100" fxLayout="row wrap" fxLayoutAlign="center center">
        <div *ngFor="let competition of competitions">
            <mat-card *ngIf="!competition.status" class="example-card bg-darkgrey text-white m-3">
                <img mat-card-image src="{{competition.imgSrc}}" class="img-size" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h1>{{competition.name}}</h1>
                    <p>{{competition.desc}}</p>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="end">
                    <button mat-button class="bg-black rounded">LIKE</button>
                    <button mat-button class="bg-black rounded">SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
</section>
