<table class="table" multi = "true" *ngIf = "lectures.length > 0 && !isLoading" >
  <thead class=" text-primary">
    <th>
      Name
    </th>
    <th>
      Profession
    </th>
    <th>
      Lecture Title
    </th>
    <th>
      Date
    </th>
    <th>
      time
    </th>
    <th>
      Status
    </th>
    <th>
      Registration Link
    </th>
    <th>
      Image Preview
    </th>
  </thead>
  <tbody>


    <tr *ngFor="let lecture of lectures">
      <td>
        {{ lecture.name }}
      </td>
      <td>
        {{ lecture.profession }}
      </td>
      <td>
        {{ lecture.lectureTitle }}
      </td>
      <td>
        {{ lecture.date.day}}/{{lecture.date.month}}/{{lecture.date.year}}
      </td>
      <td>
        {{lecture.time}}
      </td>

      <td>
        {{ lecture.status }}
      </td>
      <td>
        {{ lecture.regLink }}
      </td>
      <td>
        <img class = "image-preview" [src]="lecture.imagePath" [alt]="lecture.name">
      </td>

    </tr>

  </tbody>
</table>




<section class="p-3">
    <div class="heading text-white mb-big">Lectures</div>



<div class="w-100" fxLayout="column" fxLayoutAlign="space-around end">
    <!-- <div class="sub-heading text-white mt-3">Faculty Advisor</div> -->
    <div class="sub-heading text-white mt-big">Upcoming

    <div *ngFor="let lecture of lectures">
      <div *ngIf="lecture.status ==='upcoming'" >

          <div class="text-white mt-3 w-100" fxLayout="row wrap" fxLayoutAlign="space-between center">

            <div class="mt-big box speaker-card" fxLayout="column" fxLayoutAlign="start">
                <div class="active-info border-padding bg-grad" fxLayout="column" fxLayoutAlign="end end"  [routerLink]="['/lectureDetail', lecture._id]">
                    <div class="data" fxLayout="column" fxLayoutAlign="end end">
                        <div class="h-50" fxLayout="column" fxLayoutAlign="space-between end" >
                            <div class="w-100" fxLayout="column" fxLayoutAlign="end end"></div>
                            <div class="name">{{ lecture.name }}</div>
                            <div class="topic">{{ lecture.lectureTitle }}</div>
                            <div class="desc">{{ lecture.profession }}</div>
                            <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="date">{{ lecture.date.day}}/{{lecture.date.month}}/{{lecture.date.year}}</div>
                                <div class="time">{{lecture.time}}</div>
                            </div>
                            <a mat-button href="#" class="bg-grad text-black">REGISTER</a>
                        </div>
                    </div>
                </div>
                <img src="{{lecture.imagePath}}" class="photo position-absolute"  [routerLink]="['/lectureDetail', lecture._id]">
            </div>
        </div>

        <!-- <div class="text-white mt-3 w-100" fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-card class="example-card bg-darkgrey text-white m-3">
              <img mat-card-image src="{{competition.imagePath}}" class="img-size" alt="{{competition.title}}">
              <mat-card-content>
                  <h1> {{ lecture.lectureTitle }}</h1>
                  <p style="line-height: 16px;">{{ competition.description }}</p>
                  <p>Link: {{ competition.regLink }}</p>
                  <p>Date: {{ competition.date.day}}/{{competition.date.month}}/{{competition.date.year}} </p>
                  <p>Time:  {{ competition.time}}</p>

              </mat-card-content>
              <mat-card-actions fxLayoutAlign="end">
                  <button mat-button class="bg-black rounded">LIKE</button>
                  <button mat-button class="bg-black rounded">SHARE</button>
              </mat-card-actions>
          </mat-card>


    </div> -->

      </div>

    </div>
  </div>



    <div class="sub-heading text-white mt-big">Past Speakers


      <div *ngFor="let lecture of lectures">
        <div *ngIf="lecture.status ==='done'">

            <div class="text-white mt-3 w-100" fxLayout="row wrap" fxLayoutAlign="space-between center">

              <div class="mt-big box speaker-card" fxLayout="column" fxLayoutAlign="start" [routerLink]="['/lectureDetail', lecture._id]">
                  <div class="active-info border-padding bg-grad" fxLayout="column" fxLayoutAlign="end end">
                      <div class="data" fxLayout="column" fxLayoutAlign="end end">
                          <div class="h-50" fxLayout="column" fxLayoutAlign="space-between end" >
                              <div class="w-100" fxLayout="column" fxLayoutAlign="end end"></div>
                              <div class="name">{{ lecture.name }}</div>
                              <div class="topic">{{ lecture.lectureTitle }}</div>
                              <div class="desc">{{ lecture.profession }}</div>
                              <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
                                  <div class="date">{{ lecture.date.day}}/{{lecture.date.month}}/{{lecture.date.year}}</div>
                                  <div class="time">{{lecture.time}}</div>
                              </div>
                              <a mat-button href="#" class="bg-grad text-black">REGISTER</a>
                          </div>
                      </div>
                  </div>
                  <img src="{{lecture.imagePath}}" class="photo position-absolute"  [routerLink]="['/lectureDetail', lecture._id]">
              </div>
          </div>

          <!-- <div class="text-white mt-3 w-100" fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-card class="example-card bg-darkgrey text-white m-3">
                <img mat-card-image src="{{competition.imagePath}}" class="img-size" alt="{{competition.title}}">
                <mat-card-content>
                    <h1> {{ lecture.lectureTitle }}</h1>
                    <p style="line-height: 16px;">{{ competition.description }}</p>
                    <p>Link: {{ competition.regLink }}</p>
                    <p>Date: {{ competition.date.day}}/{{competition.date.month}}/{{competition.date.year}} </p>
                    <p>Time:  {{ competition.time}}</p>

                </mat-card-content>
                <mat-card-actions fxLayoutAlign="end">
                    <button mat-button class="bg-black rounded">LIKE</button>
                    <button mat-button class="bg-black rounded">SHARE</button>
                </mat-card-actions>
            </mat-card>


      </div> -->

        </div>

      </div>
    </div>
</div>

</section>

