<section class="p-3">
    <div class="heading text-color">Contact</div>
    
    <div class="w-100" fxLayout="column" fxLayoutAlign="end end">
        <!-- <div class="sub-heading text-white mt-3">Faculty Advisor</div> -->
        <div class="sub-heading text-white mt-big">Address</div>

        <div class="para text-white">
            <div>Delhi Technological University</div>
            <div>Shahbad Daulatpur, Main Bawana Road</div>
            <div>Delhi-110042. India</div>
            <div>88605 53842</div>
            
        </div>
        
        <div class="sub-heading text-white mt-big">Mail Us</div>

        <div class="para text-white">
            <div>corporate@innovadtu.com</div>
            <div>innovadtu2021@gmail.com </div>

        </div>
    </div>
    </section>