
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div *ngIf="!isLoading">

    <div class="heading text-color">{{this.competition.title | uppercase}}</div>
    <!-- <p style= "color: white;">{{this.competition.title}}</p> -->
    <!-- <img height="100px" width="200px"  [src]="this.competition.imagePath" [alt]="this.competition.title"> -->
    
    <mat-card class="nfo">

      <img mat-card-image class="img" src={{this.competition.imagePath}} alt={{this.competition.title}}>

      <mat-card-content>

      <p>{{this.competition.description}}</p>
      <!-- <p >{{this.competition.status}}</p> -->
      <!-- <p style= "color: white;">{{this.competition.date.day}}</p> -->
      <p><b>Competition Date:</b> {{ this.competition.date.day}}/{{this.competition.date.month}}/{{this.competition.date.year}}</p>
      <!-- <img height="100" width="200"  [src]="this.competition.imagePath" [alt]="this.competition.title"> -->
      <!-- <p style= "color: white;">{{this.competition.imagePath}}</p> -->
      <p><b>Competition Time:</b> {{this.competition.time}}</p>
      <p><b>Registeration Link:</b><a href="{{this.competition.regLink}}"> {{this.competition.regLink}}</a></p>
    </mat-card-content>
  </mat-card>
  </div>
