.shadow{
    filter: drop-shadow(0px 0px 10px rgba(158, 0, 0, 0.2));
}

@keyframes wink {
    0%{
        transform: rotate(-10deg);
        transform-origin: 60% 150%;
    }
    100%{
        transform: rotate(10deg);
        transform-origin: 60% 150%;
    }
}

#tarCanva{
    animation-name: wink;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

