<!-- <table class="table" multi = "true" *ngIf = "workshops.length > 0 && !isLoading" >
  <thead class=" text-primary">
    <th>
      Name
    </th>
    <th>
      Profession
    </th>
    <th>
      Price
    </th>
    <th>
      Date
    </th>
    <th>
      time
    </th>
    <th>
      Status
    </th>
    <th>
      Registration Link
    </th>
    <th>
      Image Preview
    </th>

  </thead>
  <tbody>


    <tr *ngFor="let workshop of workshops" >
      <div [routerLink]="['/workshopDetail', workshop._id]">
      <td>
        {{ workshop.title }}
      </td>
      <td>
        {{ workshop.description }}
      </td>
      <td>
        {{ workshop.price }}
      </td>
      <td>
        {{ workshop.date.day}}/{{workshop.date.month}}/{{workshop.date.year}}
      </td>
      <td>
        {{ workshop.time }}
      </td>
      <td>
        {{ workshop.status }}
      </td>
      <td>
        {{ workshop.regLink }}
      </td>
      <td>
        <img class = "image-preview" [src]="workshop.imagePath" [alt]="workshop.title">
      </td>
    </div>
    </tr>

  </tbody>
</table> -->

<section class="p-3">
<div class="heading text-color">Workshops</div>

<div class="w-100" fxLayout="column" fxLayoutAlign="space-around end">

  <div class="sub-heading text-white mt-big">Upcoming

    <div *ngFor="let workshop of workshops">
      <div *ngIf="workshop.status ==='upcoming'">
        <div class="text-white mt-3 w-100" fxLayout="row wrap" fxLayoutAlign="center center">

          <mat-card class="example-card bg-darkgrey text-white m-3">
              <img mat-card-image src="{{workshop.imagePath}}" class="img-size" alt="{{workshop.title}}">
              <mat-card-content>
                  <h1>{{ workshop.title }}</h1>
                  <h3 style="line-height: 16px;"><span>&#8377;</span>
                    {{ workshop.price }}</h3>
              </mat-card-content>
              <mat-card-actions fxLayoutAlign="end">
                  <button mat-button class="bg-black rounded decor-none"><a href="{{ workshop.regLink }}">REGISTER</a></button>
                  <button mat-button class="bg-black rounded" [routerLink]="['/workshopDetail', workshop._id]">Read More</button>
              </mat-card-actions>
          </mat-card>


    </div>
    </div>
    </div>
    </div>

    <div class="sub-heading text-white mt-big">Archived

      <div *ngFor="let workshop of workshops">
        <div *ngIf="workshop.status ==='done'">
          <div class="text-white mt-3 w-100" fxLayout="row wrap" fxLayoutAlign="center center">

            <mat-card class="example-card bg-darkgrey text-white m-3">
                <img mat-card-image src="{{workshop.imagePath}}" class="img-size" alt="{{workshop.title}}">
                <mat-card-content>
                    <div class="name">{{ workshop.name }}</div>
                    <p style="line-height: 16px;">{{ workshop.price }}</p>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="end">
                    <button mat-button href="#" class="bg-black rounded"><a href="{{ workshop.regLink }}">REGISTER</a></button>
                    <button mat-button class="bg-black rounded" [routerLink]="['/workshopDetail', workshop._id]">Read More</button>
                </mat-card-actions>
            </mat-card>


      </div>
      </div>
      </div>
      </div>
</div>
</section>
