<!-- 
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div *ngIf="!isLoading">
    <p style= "color: white;">{{this.workshop.title}}</p>
    <p style= "color: white;">{{this.workshop.description}}</p>
    <p style= "color: white;">{{this.workshop.status}}</p>
    <p style= "color: white;">{{this.workshop.date.day}}</p>
    <p style= "color: white;">{{this.workshop.date.day}}</p>
    <img class="image-preview"  [src]="this.workshop.imagePath" [alt]="this.workshop.title">
    <p style= "color: white;">{{this.workshop.imagePath}}</p>
    <p style= "color: white;">{{this.workshop.time}}</p>
    <p style= "color: white;">{{this.workshop.regLink}}</p>
  </div> -->

<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">

  <div class="heading text-color">{{this.workshop.title | uppercase}}</div>
  <!-- <p style= "color: white;">{{this.competition.title}}</p> -->
  <!-- <img height="100px" width="200px"  [src]="this.competition.imagePath" [alt]="this.competition.title"> -->


  <div class="text-white mt-3 w-100" fxLayout="row" fxLayoutAlign="center">
    <div class="mt-big" fxLayout="column" fxLayoutAlign="center center">
        <img [src]="this.workshop.imagePath" class="immg">
        
    </div>

    
</div>

  <mat-card class="nfo" style="margin: 5px;">

    <!-- <img mat-card-image class="img" src={{this.workshop.imagePath}} alt={{this.workshop.title}}> -->

    <!-- <mat-card-content> -->

    <p>{{this.workshop.description}}</p>
    <!-- <p >{{this.competition.status}}</p> -->
    <!-- <p style= "color: white;">{{this.competition.date.day}}</p> -->
    <p>Workshop Date: {{ this.workshop.date.day}}/{{this.workshop.date.month}}/{{this.workshop.date.year}}</p>
    <!-- <img height="100" width="200"  [src]="this.competition.imagePath" [alt]="this.competition.title"> -->
    <!-- <p style= "color: white;">{{this.competition.imagePath}}</p> -->
    <p>Workshop Time: {{this.workshop.time}}</p>
    <p>Registration Link:<a href="{{this.workshop.regLink}}"> {{this.workshop.regLink}}</a></p>
  <!-- </mat-card-content> -->
</mat-card>
</div>
