/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


body{
    background-color: white;
}
html, body { 
    height: 100%; 
    scroll-behavior: smooth;
}
body { margin: 0; font-family: Raleway, "Helvetica Neue", sans-serif; }

.flex-spacer{
    flex: 1 1 auto;
}

.flex-col-spacer{
    flex: 1 1 auto;
    flex-direction: column;
}

.text-white{
    color: white!important;
}

.m-2{
    margin: 10px;
}

.p-3 {
    padding: 3rem;
}

.p-2 {
    padding: 2rem;
}

.p-1{
    padding: 1rem;
}

.pt-1{
    padding-top: 1rem;
}

.pt-3{
    padding-top: 3rem;
}

.font-medium{
    font-size: medium;
}

.font-large{
    font-size: large;
}

.h-100{
    height:100%;
}

.w-50{
    width: 50%;
}

.h-50{
    height:50%;
}

.text-red{
    color: red;
}

.w-100{
    width: 100%;
}

.bg-black{
    background-color: black;
}

.bg-white{
    background-color: white;
}

.text-black{
    color: black;
}

.h-75{
    height: 75%;
}
.h-25{
    height: 25%;
}

.w-25{
    width: 25%;
}

.w-75{
    width: 75%;
}

.w-90{
    width: 90%;
}

.h-80{
    height: 80%;
}

.position-fixed{
    position: fixed;
}

.position-absolute{
    position: absolute;
}

.position-relative{
    position: relative;
}

.m-3{
    margin: 1rem;
}

.mt-3{
    margin-top: 1rem;
}

.ml-3{
    margin-left: 1rem!important;
}

.border-round{
    border-radius: 20px!important;
}

.border-black{
    border: 1px solid black;
}

.bg-grad{
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    animation: colorChange 4s ease-in 0s infinite alternate;
}

.text-grad{
    background:linear-gradient(to bottom, #b3ffab 0%, #12fff7 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorChange 4s ease-in 0s infinite alternate;
}

@keyframes colorChange{
    0%{
        filter: hue-rotate(0);
    }
    100%{
        filter: hue-rotate(100deg);
    }
}

.heading{
    font-size: 8vw;
    font-family: 'Montserrat', sans-serif;
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.2));
    font-weight: 700;
    line-height: 100%;
    color: white;
    // background:linear-gradient(to bottom, #b3ffab 0%, #12fff7 100%);;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    z-index: 1;
}

.sub-heading{
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.5));
    font-weight: 400;
    line-height: 100%;
}
.overflow-hidden{
    overflow: hidden;
}

.bg-darkgrey{
    background-color: #242424!important;
}

.bg-grey{
    background-color: #4e4e4e;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
