.image-preview {
  height: 5rem;
  margin: 1rem 0;
}
td{
  color: white;
}

.image-preview img {
  height: 100%;
}
.fac{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.3));
    object-fit: cover;
}

.member-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.3));
    object-fit: cover;
    transition: 0.25s ease-in;
}

.icon{
    margin-top: 10px;
}


.name{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    margin-top: 1rem;
}

.designation{
    font-family: 'Montserrat';
    font-size: 1rem;
    margin-top: 1rem;
}

.mt-big{
    margin-top: 10vh;
}

.mx-3{
    margin-left: 3rem;
    margin-right: 3rem;
}

/* Styles for tab labels */
.mat-tab-label {
    font-size: x-large;
    background-color: transparent;
    color: white;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    font-size: x-large;
    background-color: transparent;
    color: white;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background: linear-gradient(180deg, #2af598 0%, #009efd 100%)!important;
}

.link{
    margin-top: 1rem;
    width: 100%;
}


.link a{
    margin: 10px;

    text-decoration: none;
    color: white;
}

.member-card{
    width: 25%;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .member-card{
        width: 75%;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .mob-h{
        height: auto;
    }
}

.msg-fa{
    height: fit-content;
    padding: 15px;
    border-radius: 25px;
    font-weight: bold;
    font-size: initial;
    margin: 15px;
    color: rgb(255, 255, 255);
    display: inline-block;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.msg-fa-h{

    text-align: center;
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 15px;
}
