<!-- <section fxLayout="row wrap" fxLayoutAlign="center center" class="w-100 text-white"> -->
    <!-- <div *ngFor="let dot of dots" [ngStyle]="{'position': 'absolute', 'left': dot.left+'px','top' : dot.top+'px'}">
        <app-dot></app-dot>
    </div>
     -->
    <!-- <div fxLayout="column" fxLayoutAlign="space-around end" class="p-3 w-50">
        <p id="hi">Hi</p>
        <p id="there">There</p>
    </div>
     <app-canvas fxLayout="row" fxLayoutAlign="center" class="w-50" ></app-canvas> -->
     
     
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="602.773" height="339.224" viewBox="0 0 602.773 339.224">
      <path id="Path_1" data-name="Path 1" d="M5238.775,628.8s-13.2-336.216-288.006-220.87S4637,360.421,4637,360.421l54.285,222.7,276.161-74.313,96.367,190.083Z" transform="translate(-4636.516 -360.302)" fill="none" stroke="#707070" stroke-width="1"/>
    </svg> -->


     <!-- <div class="m-3 p-3">
        <h1>Hi, I'm <span class="text-red">Jatin</span></h1>
     <div>Coder <span class="text-red">.</span> Designer <span class="text-red">.</span> Developer</div>
     </div> -->
<!-- </section> -->
  <div class="h-100 overflow-hidden" fxLayout="column" fxLayoutAlign="end center">

    <div class="h-100 position-absolute w-100 bg-black"></div>
  
    <div class="h-100 w-100 position-absolute overflow-hidden" fxLayout="column" fxLayoutAlign="space-between center">
      <img src="assets/images/logoGrad-min.png" class="h-100 big">
    </div>
  
    <div class="svg-style position-relative" fxLayout="column" fxLayoutAlign="end center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768">
          <defs>
              <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" stop-color="#b3ffab" />
                    <stop offset="100%" stop-color="#12fff7" />
              </linearGradient>
              <style>.cls-1,.cls-2,.cls-3,.cls-4{stroke: black;stroke-miterlimit:10;stroke-width:1px;fill:transparent}.cls-2,.cls-3,.cls-4{fill:none;}.cls-2{stroke-width:1px;}.cls-3{stroke-width:1px;}
              </style>
          </defs>
          <title>project2020</title>
          <g id="Layer_11" data-name="Layer 11">
              <rect class="cls-1" x="-2" width="1373" height="770"/>
          </g>
          <g id="Layer_12" data-name="Layer 12">
              <polygon class="cls-1"  style="fill:white" points="1369 449 1040 483 1045 526 1044 527 842 502 829 241 803 230 801 187 775 176 775 128 720 103 708 145 712 205 708 215.91 709.58 270.42 704.03 276.4 709.62 367.1 645 384 643 352 299 439 294.37 512 -4 516 -4 770 1371 770 1369 449"/>
          </g>
          <g id="Layer_2" data-name="Layer 2">
              <line class="cls-2" x1="-3" y1="516" x2="295" y2="512"/>
          </g>
          <g id="Layer_3" data-name="Layer 3">
              <polyline class="cls-3" points="1045.5 526.5 1040.5 483.5 1365.5 449.5"/>
              <line class="cls-3" x1="1273.5" y1="523.5" x2="1097.5" y2="533.5"/>
              <polyline class="cls-3" points="1271.5 635.5 1134.5 628.5 1128.1 531.76"/>
          </g>
          <g id="Layer_4" data-name="Layer 4">
              <path class="cls-3" d="M284.5,650.5l-144,9,35,2-69,13h-48l-41,12,181-9,11,4-212,26v17s443-39,513-14l120-9,87,8,187-9,5-17,209-13"/>
              <polyline class="cls-3" points="1049.5 685.5 913.5 694.5 909.5 715.5 715.5 724.5 629.5 715.5 567.5 721.5"/>
              <path class="cls-3" d="M412.5,768.5s183-25,146-53l-61,5s-193-36-498,28"/>
              <path class="cls-3" d="M515.5,767.5s15,1,48-18l1-28"/>
          </g>
          <g id="Layer_5" data-name="Layer 5">
              <polyline class="cls-3" points="1366.5 617.5 863.5 727.5 803.5 732.5 803.5 753.5"/>
              <path class="cls-3" d="M791.5,767.5s11-3,25-20"/>
              <path class="cls-3" d="M803.5,768.5s15-8,24-15"/>
              <path class="cls-3" d="M836.5,768.5s45-18,48-35"/>
              <path class="cls-3" d="M849.5,768.5s50-20,52-35"/>
              <path class="cls-3" d="M882.5,770.5s72-17,75-50h56v-7h16v-7h56v-7h15v-6h61v-6l15-2v-7h62v-9h15v-7l64-3v-7h14v-7h39"/>
              <path class="cls-3" d="M1368.5,665.5s-25.49-18-35.25-20"/>
              <line class="cls-3" x1="1368.5" y1="685.5" x2="918.5" y2="770.5"/>
              <line class="cls-3" x1="1370.5" y1="699.5" x2="946.5" y2="770.5"/>
              <path class="cls-3" d="M977.5,728.5s-33,33-72,42"/>
              <path class="cls-3" d="M1029.5,706.5s23,32-52,50"/>
              <path class="cls-3" d="M1055.5,713.5s14.42,18-35.29,37.5"/>
              <path class="cls-3" d="M1100.5,693.5s43,17.24,0,42.62"/>
              <path class="cls-3" d="M1133.5,699.5s24.56,13.59,5.78,29.3"/>
              <path class="cls-3" d="M1176.5,678.5s41.66,10.3,40.33,35.65"/>
              <path class="cls-3" d="M1214.5,683.5s29.92,9.1,32,25"/>
              <path class="cls-3" d="M1253.5,662.5s40.48,13.17,45.74,36.08"/>
              <path class="cls-3" d="M1302.5,669.5s22.89,7.51,25,23.75"/>
          </g>
          <g id="Layer_6" data-name="Layer 6">
              <polyline class="cls-3" points="848.5 545.5 963.5 553.5 969.5 657.5 1105.5 645.5 1095.5 533.5 843.5 502.5"/>
              <polyline class="cls-3" points="847.5 579.5 888.5 579.5 890.5 612.5 856.5 612.5 857.5 622.5"/>
              <path class="cls-3" d="M850.5,645.5s55,1,63-5v21s-10,6-59,3"/>
          </g>
          <g id="Layer_7" data-name="Layer 7">
              <polygon class="cls-3" points="285.5 654.5 299.5 439.5 643.5 351.5 646.5 459.5 546.5 477.5 546.5 550.5 465.5 557.5 463.5 665.5 285.5 654.5"/>
              <line class="cls-3" x1="536.5" y1="672.5" x2="538.72" y2="551.17"/>
              <polyline class="cls-3" points="554.5 665.5 554.5 557.5 642.5 554.5 642.5 460.22"/>
              <line class="cls-3" x1="631.24" y1="462.25" x2="629.5" y2="490.5"/>
              <line class="cls-3" x1="624.5" y1="566.5" x2="625.5" y2="659.5"/>
          </g>
          <g id="Layer_8" data-name="Layer 8">
              <polygon class="cls-3" points="344 622 393 622 393 651 343 649 344 622"/>
              <polyline class="cls-3" points="644.4 384 710 367 704 276 710 270 708 215 712 205 708 145 720 103 775 128 775 176 801 187 803 230 829 241 850 670 745 681 718 665 715.7 549.61 714 464 642.5 472.2 642.5 522.81 707 520 712 515"/>
              <polyline class="cls-3" points="702 557 702 569 695 569 695 582 716.35 582 715.67 547.77 706 557 641 560 641 583 687 582 687 568 642 568"/>
              <polyline class="cls-3" points="716.99 614.07 697 614 697 642 717.56 642.79"/>
              <polygon class="cls-3" points="690 615 641 616 642 644 690 643 690 615"/>
              <polygon class="cls-3 late" points="725 122 740 129 740 137 722 144 722 134 725 122"/>
              <polygon class="cls-3 late" points="742 152 722 158 722 171 742 163 742 152"/>
              <polygon class="cls-3 late" points="742 184 723 189 723 205 743 209 742 184"/>
              <path class="cls-3 late" d="M779,191s-8-1-11,9,6,24,13,25,10-3,11-13-7-18-7-18S782,191,779,191Z"/>
              <polyline class="cls-3" points="645.28 415.48 712 403 712 433 646.5 444.19"/>
              <polyline class="cls-3" points="642.5 496.04 687 500 686.16 520.91"/>
              <polygon class="cls-3 late" points="783 281 776 288 784 303 791 294 783 281"/>
              <polygon class="cls-3 late" points="785 353 778 360 787 373 793 363 785 353"/>
              <polygon class="cls-3 late" points="789 419 782 427 790 439 796 430 789 419"/>
              <polygon class="cls-3 late" points="792 493 785 503 792 512 799 503 792 493"/>
              <polygon class="cls-3 late" points="795 581 789 591 795 601 801 591 795 581"/>
              <line class="cls-3" x1="745" y1="681" x2="724" y2="209"/>
          </g>
          <g id="Layer_9" data-name="Layer 9">
              <polyline class="cls-4" points="722 135.36 716 133 718 218 724 208 805.77 231.17"/>
              <line class="cls-4" x1="775" y1="139.62" x2="740.5" y2="128.5"/>
              <line class="cls-4" x1="775" y1="174.42" x2="743.5" y2="161.5"/>
              <line class="cls-4" x1="779.75" y1="178.01" x2="779.75" y2="190.97"/>
              <polyline class="cls-4" points="777.65 223.66 754.5 249.5 776.19 288.35 754.5 317.5 778.5 360.5 754.5 391.5 781.5 426.5 760.5 461.5 785.5 503.5"/>
              <polyline class="cls-4" points="784.23 225.07 809.5 269.5 791.5 293.5 813.5 333.5 793.5 363.5 818.5 406.5 796.5 429.5 816.5 470.5 798.61 503.5 841.98 506.11"/>
              <line class="cls-4" x1="785.05" y1="353.06" x2="784.23" y2="302.7"/>
              <line class="cls-4" x1="787.06" y1="372.89" x2="789.06" y2="419.1"/>
              <line class="cls-4" x1="790.16" y1="438.75" x2="792" y2="493.12"/>
              <line class="cls-4" x1="781.55" y1="225.07" x2="783.14" y2="281.23"/>
              <polyline class="cls-4" points="705.38 296.9 725.41 240.72 754.5 249.5"/>
              <polyline class="cls-4" points="709.28 356.1 728.51 310.3 754.5 317.5"/>
              <line class="cls-4" x1="778.5" y1="360.5" x2="730.5" y2="349.5"/>
              <polyline class="cls-4" points="754.5 391.5 731.92 387.01 712 422.81"/>
              <line class="cls-4" x1="733.29" y1="417.82" x2="781.5" y2="426.5"/>
              <polyline class="cls-4" points="760.5 461.5 735.04 457.19 714.39 483.55"/>
              <line class="cls-4" x1="776.5" y1="288.5" x2="726.89" y2="274.05"/>
              <line class="cls-4" x1="809.5" y1="269.5" x2="830.7" y2="275.76"/>
              <line class="cls-4" x1="791.5" y1="293.5" x2="832.18" y2="305.88"/>
              <line class="cls-4" x1="813.5" y1="333.5" x2="833.76" y2="338.25"/>
              <line class="cls-4" x1="793.5" y1="363.5" x2="835.51" y2="374.04"/>
              <line class="cls-4" x1="818.5" y1="406.5" x2="837.25" y2="409.48"/>
              <polyline class="cls-4" points="795.5 429.5 838.59 436.86 840.42 474.28 816.5 470.5 816.5 482.5 810.29 481.96 810.5 493.5 804.03 493.5 803.5 504.5"/>
              <line class="cls-4" x1="736.91" y1="499.14" x2="785" y2="503"/>
              <polyline class="cls-4" points="781 502.68 781.5 526.5 738.03 524.4 738.71 539.67 731.5 543.5 731.5 581.5 716.5 584.5"/>
              <polyline class="cls-4" points="716.76 602.88 727.5 607.5 727.5 582.3"/>
          </g>
          <g id="Layer_13" data-name="Layer 13">
              <polygon class="cls-4" points="560.5 416.5 547.5 419.19 547.5 443.91 560.5 441.6 560.5 416.5"/>
              <polygon class="cls-4" points="531.68 422.56 518.5 425.5 518.5 449.06 531.68 446.72 531.68 422.56"/>
              <polygon class="cls-4" points="492.5 430.92 492.5 453.68 504.5 451.55 504.5 428.36 492.5 430.92"/>
              <polygon class="cls-4" points="480.5 433.5 480.5 455.81 469.5 457.77 469.5 435.82 480.5 433.5"/>
              <polygon class="cls-4" points="451.5 439.66 451.5 460.96 440.5 462.92 440.5 442 451.5 439.66"/>
              <polygon class="cls-4" points="425.54 445.19 414.5 447.5 414.5 467.54 426.5 465.4 425.54 445.19"/>
              <polygon class="cls-4" points="398.5 450.96 398.5 470.38 389.5 471.98 389.5 452.88 398.5 450.96"/>
              <polygon class="cls-4" points="379.5 455.01 379.5 473.75 369.5 475.53 369.5 457.15 379.5 455.01"/>
              <polygon class="cls-4" points="360.5 459.06 360.5 477.13 350.5 478.91 350.5 461.5 360.5 459.06"/>
              <polygon class="cls-4" points="343.5 462.69 335.5 464.4 335.5 481.57 343.5 480.15 343.5 462.69"/>
              <polygon class="cls-4" points="326.5 466.32 317.5 468.24 317.5 484.77 326.5 483.17 326.5 466.32"/>
              <polygon class="cls-4" points="530 494.1 530 519.58 517 520.83 517 495.99 530 494.1"/>
              <polygon class="cls-4" points="503 498.03 503 522.17 493 523.13 493 499.49 503 498.03"/>
              <polygon class="cls-4" points="479 501.52 479 524.48 468 525.53 468 503.13 479 501.52"/>
              <polygon class="cls-4" points="450 505.75 450 527.26 438 528.41 438 507.49 450 505.75"/>
              <polygon class="cls-4" points="423 509.68 423 529.66 413 530.81 413 511.13 423 509.68"/>
              <polygon class="cls-4" points="397 513.46 397 532.35 387 533.31 387 514.92 397 513.46"/>
              <polygon class="cls-4" points="378 516.23 378 534.17 367.6 535.17 367 517.83 378 516.23"/>
              <polygon class="cls-4" points="359 518.99 359 535.99 351 536.76 351 520.16 359 518.99"/>
              <polygon class="cls-4" points="341 521.61 341 537.72 333 538.49 333.18 522.75 341 521.61"/>
              <polygon class="cls-4" points="324.32 524 324.32 539.32 316 540.12 316 525.25 324.32 524"/>
              <polygon class="cls-4" points="445 567.38 445 589.58 434.72 589.36 435.01 568 445 567.38"/>
              <polygon class="cls-4" points="422 568.8 422 589.08 410 588.82 410.31 569.52 422 568.8"/>
              <polygon class="cls-4" points="446 621 446 640.39 436 640.05 436 621 446 621"/>
              <polygon class="cls-4" points="419 621.16 419 639.48 407.61 639.09 407.5 621.5 419 621.16"/>
          </g>
      </svg>
  </div>
    <!-- <app-home></app-home> -->
  </div>
  
  <!-- <section class="h-100 w-100 mob-h" fxLayout="column" fxLayoutAlign="space-around center">
      <div class="w-90 h-80" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="w-25 h-100 bg-grad m-3 border-round updates" fxLayout="column">
            <div class="about text-white">About Us</div>
            <div class="text text-white">INNOVA, the techno-management fest of DTU was founded in 1994 for providing a platform for innovation and development of talent in the field of Science and Technology. INNOVA DTU organises a range of numerous diversified workshops, lectures and competitions for students from various colleges.</div>
        </div>
        <div class="w-75 h-100 updates" fxLayout="column" fxLayoutAlign="space-between center">
          <div class="w-100 h-50 bg-black border-round">
  
          </div>
          <div class="w-100 h-50" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="w-50 h-100 bg-black mt-3 border-round updates">
  
            </div>
            <div class="w-50 h-100 bg-grad mt-3 ml-3 border-round updates">
  
            </div>
          </div>
        </div>
      </div>
  </section> -->

<section class="grid">
  <div class="container" style="max-width: 90%;"> 
      <div class="row">

          <div class="col-md-5 sm-m-0">
            <mat-card class="abt-us border-round bg-darkgrey">

              <div class="about text-white">About Us</div>
            <div class="text text-white" style="line-height: normal;">INNOVA, the techno-management fest of Delhi Technological University (formerly known as Delhi College of Engineering) was founded in 1994. The largest fest of its kind in North India, INNOVA has carved out its name and a niche for itself in the past 25 years. Started as a collaboration between the Department of Mechanical and Production Engineering and the Department of Civil and Environmental Engineering,INNOVA has always aimed to encourage skill development, talent and creativity across all branches and fileds. Over its 25 years lifespan..</div>
              <a mat-button routerLink="/more-info" style="margin: auto;" class="text text-white"><span class="material-icons">
              expand_more
              </span> Read More <span class="material-icons">
                expand_more
                </span></a>

            
            </mat-card>
          </div>
               
          <div class="col-md-7" style="position: relative; display: inline;">
            <div class="row">
              <mat-card class="box border-round bg-darkgrey">
              <!-- <carousel :cellsToShow="1" :autoplay="True" :loop="True">
                <div class="carousel-cell">
                    <img src="../../assets/images/Arun_Singh_Patel.jpg">
                </div>
                <div class="carousel-cell">
                  <img src="../../assets/images/Aman_Bhatia.jpg">
              </div>
              <div class="carousel-cell">
                <img src="../../assets/images/Aditya_Pratap_Gupta.jpg">
            </div>
                  
            </carousel> -->
            <div class="about text-white">Our philosophy</div>


            <p class="margin-1">At Innova we believe in EDUCATE, INNOVATE and LEAD 
              It is our belief that everyone on this planet is an innovator. We feel responsible towards the innovator in all of us and strive to provide a platform to everyone to come together to share, learn and grow as a community. We believe in making a better world by making better leaders and creating better technology fora better tomorrow. We trust innovation and so we trust Innova.</p>
          </mat-card>

            </div>

            <div class="row">

              <!-- <div class="col-md-4" style="align-content: center; margin-left: 3rem; margin-top: 4rem;"> -->
                <video src="assets/video/InnovaOrientation.mov" class="mt-3 border-round" height="50%" width="100%" controls poster="assets/images/thumbnail.png">
                  This video cannot be played in your current browser.<br>
                  View the download version at <a href="URL">Link address</a>. 
                </video>

              <!-- </div> -->

              

            </div>
                  
          </div>
      </div>
    

  </div>
</section>