// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

.font-weight-high{
    font-weight: 700;
}

// .font-condensed{
//     font-family: 'Roboto Condensed', sans-serif;
//     font-weight: 100;
// }

.font-big{
    position: absolute;
    font-size: 4rem;
    line-height: 4rem;
}

.border-right-white{
    border-right: 2px solid white;
}


.hi{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    // -webkit-text-stroke: 2px rgb(255, 255, 255);
    background:linear-gradient(to bottom, #b3ffab 0%, #12fff7 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // filter: drop-shadow(1px 1px 2px black);
    // transform: skew(0, -15deg)  translate(-16rem, -7rem);
}

.footer{
    overflow: hidden!important;
}