<!-- <p>footer works!</p> -->
<section fxLayout="row" fxLayoutAlign="end end" class="text-white font-medium pt-1 h-50 w-100 bg-grad footer" fxShow="true" fxHide.lt-md="true">
    <div class="w-100 h-100 p-1 bg-black" fxLayout="row" fxLayoutAlign="start center">
        <div class="h-75 border-right-white p-3" fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/logowhite.png" class="h-100 m-3">
            <img src="assets/images/dtu.png" class="h-75 m-3">
        </div>

        <div class="h-75 p-3" fxLayout="column" fxLayoutAlign="space-around">
            <div>
                <h1>Connect With Us</h1>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <a mat-button class="ml-3 nav-link" href="https://www.facebook.com/innovadtu">Facebook</a>
                    <a mat-button class="ml-3" href="https://www.instagram.com/innovadtu/">Instagram</a>
                    <a mat-button class="ml-3" href="https://www.linkedin.com/company/innova-dtu/">LinkedIn</a>
                    <a mat-button class="ml-3" href="https://youtube.com/channel/UCz52tpa7b4vV24SbgreRiuA">Youtube</a>
                </div>
            </div>
            <h1 class="m-3 hi">Contact Us</h1>
        </div>


    </div>
</section>


<section fxLayout="row" fxLayoutAlign="end end" class="text-white font-medium pt-1 bg-grad footer"  fxShow="true" fxHide.gt-sm>
    <div class="w-100 h-100 p-1 bg-black" fxLayout="column" fxLayoutAlign="start center">
        <div class="h-75" fxLayout="row" fxLayoutAlign="center center">
            <img src="assets/images/logowhite.png" class="w-75 m-3">
            <!-- <img src="assets/images/dtu.png" class="w-50 m-3"> -->
        </div>

        <div class="h-75" fxLayout="column" fxLayoutAlign="space-around">
            <div>
                <h1 class="m-3">Connect With Us</h1>
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                    <a mat-button class="ml-3 nav-link"  href="https://www.facebook.com/innovadtu">Facebook</a>
                    <a mat-button class="ml-3" href="https://www.instagram.com/innovadtu/">Instagram</a>
                    <a mat-button class="ml-3" href="https://www.linkedin.com/company/innova-dtu/">LinkedIn</a>
                    <a mat-button class="ml-3" href="https://youtube.com/channel/UCz52tpa7b4vV24SbgreRiuA">Youtube</a>
                </div>
            </div>
            <h1 class="m-3 hi">Contact Us</h1>
        </div>


    </div>
</section>