.image-preview {
  height: 5rem;
  margin: 1rem 0;
}
td{
  color: white;
}

.image-preview img {
  height: 100%;
}
.img-size{
  height: 15rem;
  width: 30rem;
  object-fit: cover;
}

.sponsor{
    background-color: white;
    height: 15vh;
    padding:10px;
    margin-top: 5vh;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 20px;
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.3));
}

.mb-big{
    margin-bottom: 3rem;
}

@media only screen and (max-width: 500px) {
    .sponsor{
        margin-left: 1rem;
        margin-right: 1rem;
        max-width: 90vw;
        max-height: 10vh;
    }
}
